html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

@-ms-viewport { width: device-width; }


html {
	font-size: 15px;
	font-family: monospace;
	background-color: skyblue;
}
